
        .container {
            margin-top: 10px;
        }

        .card {
            margin-bottom: 10px;
        }

        .canvas-container {
            padding: 15px;
        }

        #simulationCanvas {
            width: 100%;
            height: auto;
            /* Adjust as necessary */
        }

        #simulationCanvas-holder {
            border-radius: 10px;
            box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
            padding: 10px;
            /* Reduced padding for mobile compatibility */
        }

        #controlCard {
            font-family: 'Times New Roman', Times, serif;
        }

        @media (min-width: 768px) {
            #simulationCanvas-holder {
                padding: 4rem;
                /* Original padding for larger screens */
            }

            #simulationCanvas-holder {
                border-radius: 50px;
                box-shadow: 20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
                padding: 2rem;
                /* Reduced padding for mobile compatibility */
            }

            #controlCard {
                padding: 10px;
            }

            #arrowButton {
                display: none;
            }
        }

        @media (max-width: 767px) {

            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
            }

            #controlCard {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                transition: transform 0.3s;
                transform: translateY(100%);
                background: white;
                /* Adjust background color as needed */
                margin: 0;
                /* Ensure no margin */
                padding: 10px;
                border-radius: 10px 10px 0 0;
                /* Ensure no padding */
            }

            #controlCard.show {
                transform: translateY(0);
            }

            #arrowButton {
                position: fixed;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 2em;
                cursor: pointer;
            }
        }
    