.accordion {
    font-family: "Bookman Old Style", "Times New Roman", Times, serif;
}
details[open] summary~* {
    animation: sweep .5s ease-in-out;
}
.list-group-item.magnified {
    font-size: 25px;
    transform-origin: top left; /* Scale from top-left corner */
    z-index: 10; /* Ensure it's above other items */
    position: relative; /*For Z index to work*/
}
@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

li details{
    margin-left: 10px
}
details > summary {
    list-style: none; /* Remove the default triangle marker */
    cursor: pointer; /* Indicate it's clickable */
    position: relative; /* Enable positioning for the plus sign */
    padding-left: 20px; /* Add space for the custom icon */
}

details > summary::before {
    content: "+"; /* Display the plus sign */
    position: absolute; /* Position it on the left */
    left: 0; /* Align it to the left of the summary */
    font-weight: bold; /* Make it bold for better visibility */
}

details[open] > summary::before {
    content: "-"; /* Change to minus sign when the details are open */
}

@media (max-width: 768px) {
    ul.list-group-flush {
        margin-left: 0 !important;
        /* Remove left margin for the <ul> */
        padding: 0 !important;
        /* Remove any padding from the <ul> */
    }

    ul.list-group-flush>li.list-group-item {
        margin-left: 0 !important;
        /* Remove individual <li> left margin */
        padding: 10px !important;
        border-radius: 5px !important;
        /* Optional: Rounded corners */
        margin-bottom: 10px !important;
        /* Add spacing between <li> elements */
    }
}
.fade-out-up {
    animation: fadeOutUp 0.5s forwards; 
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px); 
    }
}
 /* Presentation Mode Styles */
 body.presentation-mode {
    font-size: 1.5em; /* Increase overall text size */
}

.nav-link {
    padding: 5px; /* Remove all padding */
}